<div @ref=_chatColumn class="chat-container" style="@($"height:{Height}; overflow:auto;")">
    @foreach (var message in ChatState?.ChatMessages ?? [])
    {
        <MessageView Message="message"></MessageView>
    }
</div>